html, body {
  height: 100%;
  width: 100%;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/bg.jpg');
  text-align: center;
  color: white;
}

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}

.img-icon{
    width: 18%;
    border: 4px solid white;
}

header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  text-align: center;
  font-style: italic;
  font-family:monospace;
}

@media (min-width: 768px) {
  header {
    min-height: 100%;
    text-align: center;
  }

  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
    text-align: center;
  }

  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 15px;
  }

  header .header-content .header-content-inner h1 {
    font-size: 60px;
    text-align: center;
  }

  header .header-content .header-content-inner h3 {
    font-size: 40px;
    text-align: center;
    margin-top: -5px;
  }

  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.shadow {
   text-shadow: black 0.1em 0.1em 0.2em;
}

.text-center {
  text-align: center;
}

hr.light {
   border-width: 4px;
   max-width: 200px;
 }

 .container img {
   max-width: 200px;
   max-height: 200px;
   width: auto;
   height: auto;
 }

 .btn-green{
   color: #fff;
   background-color: #3ebcb2;
   border-color: #3ebcb2;
   text-align: center;
 }

 a:focus, a:hover {
   color: white !important;
   text-decoration: none !important;
   background-color: #82ccdd;
 }

 .tamb-img {
   width: 100%;
   height: 215px !important;
 }

 .h4-color {
   color: white;
   font-size: 30px !important;
   background-color: #00000052;
   background-size: 50%;
 }

/* Ajustar todas as imagens do carousel */
 /* .tam-img-carousel { */
   /* width: 980px; */
   /* height: 590px; */
 /* } */
 footer {
   position: relative;
   width: 100%;
   min-height: auto;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
   background-position: center;
   background-image: url('');
   text-align: center;
   color: white;
 }

/* Header Parallax */
.header-site {
  background-image: url('../img/bg.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  padding-top: 300px;
  padding-bottom: 300px;
}

.content-site {
  padding-top: 200px;
  padding-bottom: 200px;
}

/* Fundo Parallax */
.img-site {
  background-image: url('../img/bg2.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 150px;
}

.footer-site {
  background-color: black;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 14px;
  margin: 0px 0 0px;
}

.footer-site-italic {
  font-style: italic;
}

.padding-vid {
  padding: 20px;
}

.titulo {
  font-family: 'Cabin', sans-serif;
}

.img-pos-car {
  position: fixed;
}

.txt-final {
  font-size: 60px !important;
  text-shadow: black 0.1em 0.1em 0.2em;
  color: white;
  text-align: center;
}

.txt-qseu {
  font-size: 20px;
  text-align: justify;
}

/* .navbar {
  position: fixed !important;
} */

/* .navtop {
  position: absolute;

} */

/* .container-fluid {
  padding-bottom: 0px !important;
} */

.navbar-default {
    background-color: black !important;
    border-color: black !important;
    color: white !important;
}

.h3-style {
  font-size: 45px;
  color: white;

}
